---
import { Image } from 'astro:assets';
import { Code, Link as LinkIcon } from 'lucide-vue-next';

import Technology from '@/components/pages/index/Technology.astro';
import Link from '@/components/common/Link.astro';
import { Button } from '@/components/ui/button';

import { type Project } from '@/constants/projects';
import { type Technology as TechnologyType } from '@/constants/technologies';

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="flex max-w-[25.313rem] flex-col gap-2">
  <div class="relative">
    <Image
      src={project.image}
      alt=`${project.title}`
      width="405"
      height="324"
      loading="eager"
    />

    <div class="absolute bottom-2 right-2 flex gap-2">
      {
        project.tecnologies.map((technology: TechnologyType) => (
          <Technology technology={technology} />
        ))
      }
    </div>
  </div>

  <div class="flex justify-between">
    <div>
      <h3 class="font-mono font-semibold">{project.title}</h3>
      <p class="text-sm">{project.description}</p>
    </div>

    <div class="flex gap-1">
      {
        project.repository && (
          <Link
            href={project.repository}
            title=`${project.title}-repository`
            styled={false}
          >
            <Button variant="ghost" size="icon">
              <Code size={18} />
            </Button>
          </Link>
        )
      }
      {
        project.website && (
          <Link
            href={project.website}
            title=`${project.title}-website`
            styled={false}
          >
            <Button variant="ghost" size="icon">
              <LinkIcon size={18} />
            </Button>
          </Link>
        )
      }
    </div>
  </div>
</div>
