---
import { Code, Link as LinkIcon } from 'lucide-vue-next';

import Picture from '@/components/common/Picture.astro';
import Technology from '@/components/pages/index/Technology.astro';
import Link from '@/components/common/Link.astro';
import { Button } from '@/components/ui/button';

import { type Project } from '@/constants/projects';
import { type Technology as TechnologyType } from '@/constants/technologies';

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="flex max-w-[25.313rem] flex-col gap-2">
  <div class="relative">
    <Picture
      src={project.image}
      alt={project.title}
      width={405}
      height={324}
      loading="eager"
    />

    <div class="absolute bottom-2 right-2 flex gap-2">
      {
        project.tecnologies.map((technology: TechnologyType) => (
          <Technology technology={technology} />
        ))
      }
    </div>
  </div>

  <div class="flex justify-between">
    <div>
      <h3 class="font-mono font-semibold">{project.title}</h3>
      <p class="text-sm">{project.description}</p>
    </div>

    <div class="flex items-start gap-1">
      {
        project.repository && (
          <Link
            href={project.repository}
            title={project.title + ' Repository'}
            underline={false}
          >
            <Button variant="ghost" size="icon">
              <Code size={18} />
              <span class="sr-only">{project.title} repository</span>
            </Button>
          </Link>
        )
      }
      {
        project.website && (
          <Link
            href={project.website}
            title={project.title + ' Website'}
            underline={false}
          >
            <Button variant="ghost" size="icon">
              <LinkIcon size={18} />
              <span class="sr-only">{project.title} website</span>
            </Button>
          </Link>
        )
      }
    </div>
  </div>
</div>
